# https://my.telegram.org/apps
api_id = 12345
api_hash = qwerty

# можно оставить по-умолчанию
session = session_file
system_version = 4.16.30-vxCUSTOM
device_model = Android 10.0

# 0 - пересылка с автором, 1 - пересылка без автора
drop_author = 0
